body{
    color: rgb(125, 48, 212);
    background-color: rgb(216, 204, 43);
    font-family: Helvetica;
    text-align: center;
}
.titulo {
    color:rgb(125, 48, 212);
    font-weight: bold;
    font-size: 150px;
    border-radius: 75px;
    background-color: rgb(4, 201, 236);
    margin: 20px;
    margin-left: 500px;
    margin-right: 500px;
}
p{
    font-weight: bold;
}
.kokologoini {
    width: 150px;
    height: 200px;
    border: solid 5px rgb(125, 48, 212);
    border-radius: 30px;
    background-color: rgb(4, 66, 236);
}
.redes {
    text-align: left;
    margin-left: 30px;
}